# Git 相关
.git
.gitignore

# Docker 相关
Dockerfile
docker-compose.yml
.dockerignore

# 文档
README.md
*.md

# IDE
.vscode
.idea

# 依赖
node_modules

# 系统文件
.DS_Store
Thumbs.db

# 备份文件
*.bak
*.backup

# 日志
*.log
